{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid vh-100">
        <div class="row vh-100">
            <div class="col-6" style="padding: 30px">
                <div class="first-row">
                    <span>{{ game.name }}</span>
                    <button onclick="sendAjaxMust({{ game.game_id }})"><b>MUST</b></button>
                </div>

                <p class="capt" style="margin-top: 20px">Description</p>
                <p style="font-weight: bold; color: gray">
                    {{ game.summary }}
                </p>
                <p class="capt">Release Date</p>
                <p style="font-weight: bold; color: gray">
                    {{ game.first_release_date }}
                </p>
                <p class="capt">Screenshots</p>

                <div class="screenshots">
                    <div class="row">
                        {% for screenshot in game.screenshots.all %}
                            <div class="col-md-6 col-lg-4 col-xxl-3">
                                <div class="screenshot">
                                    <img src="{{ screenshot.url }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col">
                <p style="font-size: 23px; margin-top: 99px"><b>Ratings</b></p>
                <div class="rating" style="background-color: rgb(104, 230, 85);">
                    <span style="float: left">Users</span>
                    <span style="float: right">{{ game.rating|floatformat }}</span>
                </div>
                <div class="rating" style="background-color: orange;">
                    <span style="float: left">Critics</span>
                    <span style="float: right">{{ game.aggregated_rating|floatformat }}</span>
                </div>
                <p class="capt" style="margin-top: 50px">Genres</p>
                <div class="genres">
                    {% for genre in game.genres.all %}
                        <span>{{ genre.name }}</span>
                    {% endfor %}
                </div>
                <p class="capt" style="margin-top: 100px">Platforms</p>
                <div class="genres">
                    {% for platform in game.platforms.all %}
                        <span>{{ platform.name }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="col">
                <p class="capt" style="margin-top: 37px; margin-left: 15px;">#{{ game.name }} Tweets</p>
                {% if tweets.data %}
                    {% for tweet in tweets.data %}
                        <div class="tweet">
                            <div class="text-area">
                                <span>{{ tweet.text }}</span>
                            </div>
                            <span style="display: inline-block">{{ tweet.created_at }}</span>
                            <span style="display: inline-block; float: right">@{{ tweet.author_nickname }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>No tweets found!</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
