{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="cards">
            <div class="row">
                {% if games %}
                    {% for game in games %}
                        <div class="col-lg-4 col-xxl-3">
                            <div class="game_card">
                                <img src="{{ game.cover.url }}" class="img-fluid">
                                <div class="caption">
                                    <span>{{ game.name }}</span>
                                    {% for genre in game.genres %}
                                        <p>{{ genre.name }}</p>
                                    {% endfor %}
                                    <div class="buttons">
                                        <button><a href="{% url 'game_page' id=game.id %}" style="text-decoration: none; color: black"><b>Open</b></a></button>
                                        <button style="color: black"><b>MUST</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>You have no favourite games!</h1>
                {% endif %}
            </div>
        </div>

        <div class="navigation">
            <button>1</button>
            <button>2</button>
            <button>3</button>
        </div>
{% endblock %}