html, body {
    height: 100%;
}

.main_page_header {
    background-color: red;
    color: white;
    border-bottom: 2px solid black;
    padding: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.main_page_header .title {
    margin-top: 12px;
    margin-left: 8px;
    font-size: 40px;
}

.main_page_header .hello-user {
    font-size: 23px;
    margin-top: 18px;
    margin-right: 40px;
}

.main_page_header .hello-user span {
    text-decoration: underline;
}

.main_page_header .profile-buttons a {
    color: red;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.main_page_header .logo-and-title a {
    color: white;
    text-decoration: none;
}

.main_page_header .profile-buttons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.profile-buttons button {
    background-color: white;
    color: red;
    border: none;
    border-radius: 1px;
    font-size: 20px;
    font-weight: 900;
}

.profile-buttons .musts-btn {
    background-color: lime;
    color: white;
    border: none;
    border-radius: 1px;
    font-size: 20px;
    font-weight: 900;
    margin-right: 10px;
}

.profile-buttons .or {
    font-size: 18px;
    font-weight: 900;
    margin-right: 10px;
    margin-left: 10px;
}

.drop_and_search_container{
    margin-top: 20px;
    text-align: center;
}

#search_form{
    display: inline-block;
    width: 80%;
}

#query{
    font-size: 25px;
    border: none;
    border-bottom: 2px solid black;
    width: 89.5%;
    text-align: center;
    outline: none;
}

.search-icon {
    border: none;
    background-color: white;
}

.row h1 {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 72%;
}

.game_card {
    display: block;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 280px;
    width: 280px;
    text-align: left;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.game_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.game_card img {
    width: 100%;
    height: 100%;
}

.caption {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    padding: 10px 16px;
    color: white;
    background: rgba(8, 57, 22, 0.8);
    width: 100%;
    height: 40%;
}

.buttons button {
    display: inline-block;
    background-color: white;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    margin-right: 10px;
    padding: 0px auto;
    margin-bottom: 3px;
}

.caption p {
    display: inline-block;
    margin: 3px;
    margin-left: 0;
    line-height: 1;
}

.caption span {
    font-weight: 900;
    font-size: 20px;
    display: block;
    line-height: 1;
}

.navigation{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.navigation button {
    margin: 2px;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: red;
    border: none;
    border-radius: 2px;
}

.navigation button:hover {
    transform: translateY(-7px);
}

.sidepanel {
    border-top: 2px solid black;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 77px;
    left: 0;
    background-color: red;
    opacity: 0.7;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    color: white;
}

.sidepanel hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
    opacity: 1;
}

.sidepanel .filters-area {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.filters-area form label {
    font-size: 17px;
    float: left;
    font-weight: 900;
    margin-left: 5px;
    margin-top: 7px;
}

.filters-area form .selector {
    width: 100%;
}

.apply-filters {
    color: red;
    background-color: white;
    border: none;
    border-radius: 1px;
    font-size: 25px;
    font-weight: 900;
    margin: 0 auto;
}

.sidepanel .closebtn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 10px;
    display: inline-block;
}

.sidepanel span {
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    float: left;
    margin-left: 7px;
    line-height: normal;
    margin-top: 7px;
}

.first {
    width: 90%;
    margin: 0 auto;
    height: 40px;
    text-align: center;
}

.openbtn {
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 10px;
}

.first-row {
    display: flex;
    height: 50px;
    text-align: center;
    width: 100%;
}

.first-row button {
    width: 120px;
    font-size: 30px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 2px;
    margin-left: 20px;
}

.first-row span {
    display: flex;
    font-size: 35px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.capt {
    font-size: 23px;
    margin-top: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.col-6 .row .col {
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px
}

.screenshots {
    margin-left: 0px;
    margin-right: 0px;
}

.screenshot {
    display: inline-block;
    height: 180px;
    width: 180px;
    margin-bottom: 20px;
}

.screenshot img {
    width: 100%;
    height: 100%;
}

.rating {
    margin-bottom: 5px;
    border-radius: 2px;
    height: 45px;
    color: white;
    font-weight: 900;
    line-height: 45px;
    padding: 0 7px;
}

.rating span {
    display: inline-block;
}

.genres {
    height: 35px;
}

.genres span {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 900;
    border-radius: 2px;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 0 7px;
}

.tweet {
    background-color: red;
    color: white;
    font-size: 13px;
    font-weight: 900;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 15px;
    padding: 0 7px;
}

.text-area {
    margin-bottom: 3px;
}

.col h2 {
    margin-top: 30px;
    text-align: center;
}

.form-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}

.form-container input {
    border: none;
    outline: none;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    padding-left: 5px;
    width: 40%;
    margin-bottom: 10px;
}

.form-container h1 {
    margin-bottom: 20px;
    font-weight: 600;
}

.form-container button[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    border-radius: 1px;
    font-weight: 900;
    font-size: 25px;
}

.form-container div {
    margin-top: 15px;
}

.form-container .cancel-btn {
    margin-top: 15px;
    margin-left: 3px;
    background-color: orange;
    border: none;
    border-radius: 1px;
    font-weight: 900;
    font-size: 25px;
    width: 100px;
}

.form-container a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.form-container a:hover {
    color: white;
    text-decoration: none;
}

.profile-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    text-align: center;
    margin-bottom: 5%;
}

.profile-container input {
    border: none;
    outline: none;
    border-left: 3px solid gray;
    padding-left: 5px;
    margin-bottom: 10px;
    float: left;
    font-size: 18px;
    font-weight: 600;
}

.profile-container span {
    float: right;
    margin-right: 5px;
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.profile-container h1 {
    margin-bottom: 20px;
    font-weight: 600;
}

.profile-container .update-btn {
    margin-top: 15px;
    margin-left: 3px;
    background-color: green;
    border: none;
    border-radius: 1px;
    font-weight: 900;
    font-size: 25px;
    width: 100px;
}

.profile-container .delete-btn {
    margin-top: 15px;
    margin-left: 15px;
    background-color: red;
    border: none;
    border-radius: 1px;
    font-weight: 900;
    font-size: 25px;
    width: 100px;
}

.profile-container a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.profile-container a:hover {
    color: white;
    text-decoration: none;
}

.update-profile-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 7%;
    text-align: center;
    margin-bottom: 5%;
}

.update-profile-container input {
    border: none;
    outline: none;
    border-left: 3px solid gray;
    border-bottom: 2px solid gray;
    padding-left: 5px;
    margin-bottom: 10px;
    float: left;
    font-size: 18px;
    font-weight: 600;
}

.update-profile-container span {
    float: right;
    margin-right: 5px;
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.update-profile-container h1 {
    margin-bottom: 20px;
    font-weight: 600;
}

.update-profile-container button[type="submit"] {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 1px;
    font-weight: 900;
    font-size: 25px;
    width: 100px;
}

.verification-mail {
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
}
